@import
	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900)
	;

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #999;
	line-height: 27px;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	font-weight: 700;
	color: #333;
	text-transform: capitalize;
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: 0 !important;
}

a {
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.color {
	color: #41bedd;
}

.navbar-default {
	border: 0px;
	background: #fff;
	margin: 0px;
	padding: 0px 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #41bedd;
	background-color: transparent;
	border-bottom-color: transparent;
}

.navbar-default .navbar-nav>li.active>a {
	border-bottom-color: #41bedd;
}

.navbar-default .navbar-nav>li>a {
	color: #999;
	font-weight: 700;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
	position: relative;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #41bedd;
}

.navbar-default .navbar-nav>li.active a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: -5px;
	border-top: 5px solid #41bedd;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #41bedd;
	background-color: transparent;
}

.left-title {
	margin-bottom: 10px;
}

.left-title h2 {
	text-transform: capitalize;
	color: #000;
	margin: 0px;
}

.left-title h5 {
	color: #666;
}

.border-left {
	border-bottom: 1px solid #ddd;
	height: 1px;
	position: relative;
}

.border-left:before {
	content: "";
	width: 90px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #41bedd;
}

.top-intro {
	position: relative;
	box-shadow: 0px 10px 31px rgba(0, 0, 0, 0.1);
}

.services {
	background-image: url('../images/layer.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-color: #f7f9f9;
	padding: 100px 0;
	padding-bottom: 0px;
	border-bottom: 1px solid #ddd;
}

.border-center {
	border-bottom: 1px solid #ddd;
	height: 2px;
	position: relative;
	width: 120px;
	margin: 10px auto;
}

.border-center:before {
	content: "";
	width: 60px;
	height: 2px;
	position: absolute;
	left: 30px;
	bottom: -1px;
	background: #41bedd;
}

.center-title {
	margin-bottom: 30px;
}

.service-box {
	text-align: center;
	margin-bottom: 90px;
	background-color: #fff;
	padding: 15px;
}

.service-box i {
	border-radius: 50%;
	background: #fff;
	color: #333;
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	margin: 0 auto;
	box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
	margin-top: -70px;
}

.service-box h3 {
	font-size: 18px;
	margin-top: 10px;
}

.service-box a {
	color: #888;
	text-decoration: underline;
}

.service-box:hover a, .service-box:hover h3, .service-box:hover i {
	color: #41bedd;
}

.recent-work {
	padding: 100px 0;
}

.recent-work .col-md-3 {
	padding: 0px;
}

.work-box {
	position: relative;
	overflow: hidden;
}

.work-box img {
	width: 100%;
}

.work-overlay {
	background-color: rgba(65, 190, 221, 0.85);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	opacity: 0;
	visibility: hidden;
}

.work-overlay p {
	position: absolute;
	width: auto;
	left: 0px;
	top: 10%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.work-overlay p a {
	display: block;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 40px;
	margin-bottom: 10px;
}

.work-box:hover .work-overlay {
	visibility: visible;
	opacity: 1;
}

.work-box:hover .work-overlay p {
	left: 20px;
}

.testi-box {
	padding: 20px 15px;
	border: 1px solid #eee;
	background-color: #fdfdfd;
}

.testi-box img {
	float: left;
	margin-right: 15px;
}

.testi-box .content {
	overflow: hidden;
}

.testi-box h4 {
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 400;
}

.testimonials {
	position: relative;
	overflow: hidden;
}

.testi-slider {
	position: relative;
	padding: 0px 15px;
}

.flex-direction-nav a:before {
	font-family: "Ionicons";
	font-size: 40px;
	display: inline-block;
	content: "\f3cf";
	color: rgba(0, 0, 0, 0.2);
	text-shadow: none;
}

.flex-direction-nav .flex-prev {
	left: -16px;
	text-align: center;
}

.flex-direction-nav .flex-next {
	right: -16px;
	text-align: center;
}

.flex-direction-nav a.flex-next:before {
	content: "\f3d1";
}

.flex-direction-nav a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #eee;
	opacity: 1;
	font-size: 20px;
}

.btn-theme {
	background: #41bedd;
	color: #fff;
	padding: 10px 25px;
	text-transform: capitalize;
	border-radius: 0px;
}

.btn-theme:hover {
	color: #fff;
	background: #333;
}

.left-title .btn {
	margin-top: 16px;
}

.person-box {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.person-box img {
	width: 100%;
}

.person-overlay {
	position: absolute;
	left: 0;
	bottom: 5px;
}

.person-overlay h4 {
	background: #41bedd;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding: 6px 12px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: -3px;
}

.person-overlay span {
	display: inline-block;
	background: #333;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 70px;
	padding: 0px 12px;
	color: #fff;
}

.person-col {
	margin-bottom: 30px;
}

.person-col .list-inline li a {
	font-size: 25px;
	color: #999;
	display: block;
}

.person-col .list-inline li a:hover {
	font-size: 25px;
	color: #41bedd;
}

.partners-row li {
	padding: 10px 15px;
	border: 2px solid #eee;
	margin: 10px 15px;
}

.footer {
	padding-top: 50px;
	background: #333;
}

.footer h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
}

.footer .border-left {
	border-color: rgba(255, 255, 255, 0.1);
	margin-bottom: 20px;
}

.footer ul.list-unstyled li a {
	color: #fff;
}

.footer ul.list-unstyled li a:hover {
	color: #41bedd;
}

.footer .f-news li a {
	display: block;
	padding: 6px 0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.footer .f-news li a span {
	width: 100%;
	display: block;
	font-size: 11px;
	line-height: 15px;
	color: #ddd;
}

.footer .flickr-st li {
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	border: 2px solid #666;
}

.footer .flickr-st li a {
	display: block;
}

.footer p span {
	display: block;
	overflow: hidden;
}

.footer p i {
	float: left;
	display: block;
	font-size: 20px;
	width: 40px;
	text-align: center;
}

.footer .col-md-3 {
	padding-bottom: 40px;
}

.copyright {
	background-color: #222;
	padding: 10px 0;
}

.socials li a {
	display: block;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.socials li {
	padding: 0px;
}

.socials li a:hover {
	border: 1px solid rgba(255, 255, 255, 0.9);
	color: rgba(255, 255, 255, 0.9);
}

.title2 {
	font-size: 40px;
	color: #fff;
	line-height: 50px;
	font-weight: 700;
}

.sub-title2 {
	color: #fff;
	font-size: 14px;
}

.btn1 {
	border-radius: 4px;
	padding: 10px 25px;
	background-color: #41bedd;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 700;
	text-shadow: 0 1px rgba(0, 0, 0, 0.15);
	transition: all 0.3s;
}

.btn1 i {
	margin-left: 5px;
}

.btn1:hover {
	color: #333;
	background-color: #ddd;
}

.nav-search {
	padding: 15px 15px;
}

.nav-search a {
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid #999;
	text-align: center;
	line-height: 22px;
	color: #999;
}

.search-dropdown {
	right: 0;
	left: auto;
	width: 250px;
	padding: 10px;
	border: 0px;
	border-radius: 0px;
}

.search-dropdown .form-control {
	border: 0px;
	box-shadow: none;
	height: 45px;
	background-color: #f5f5f5;
	border-radius: 0px;
}

@media ( max-width :767px) {
	.testi-box {
		text-align: center;
	}
	.testi-box img {
		float: none;
		margin-right: 0;
		display: block;
		margin: 0 auto;
	}
}

.login-form {
	display: flex !important;
	align-items: center !important;
}

@media ( max-width : 767px) {
	.login-form {
		display: block !important; /* turn off the flexible box layout */
	}
}

.livehelp-list {
	list-style: none;
	margin-left: -10px;
	height: 30px;
	width: 5em;
}
/* .livehelp-list> span:hover{
	background-color: #E52149;
    padding: 10px;
     margin-left: -10px;
} */
.livehelp-sub-list {
	margin-left: 35px;
	list-style: none;
	margin-top: -33px;
}

.livehelp-sub-list>li>a {
	color: #fff;
}

.livehelp-sub-list>li:hover {
	background: #26b7cd;
	color: #ffffff;
	padding: 6px;
	margin-left: -8px;
	border-bottom: 1px solid transparent;
}

.livehelp-sub-list>li {
	border-bottom: 1px solid #0F8A5F;
}

#hidden {
	display: none;
}

#visible:hover span {
	background-color: #E52149;
	padding: 10px 7px 10px 10px;
	margin-left: -10px;
}

#visible:hover #hidden {
	display: block;
	width: 14em;
}

.live-help-popup {
	height: 500px;
	overflow-y: auto;
}

.buttons-style {
	padding-top: 18px;
	padding-bottom: 18px;
}

.info-style {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
	margin-top: 10px;
}
.slider-info{
	    margin-left: 10px;
    margin-top: 10px;
}
.searchspan {
    float: left;
    left: 27px;
    top: 8PX;
    position: relative;
  
}

@media only screen and (max-width: 766px) {
   .searchspan {
	   	float: left;
	    left: 11px;
	    top: -22PX;
	    position: relative;
    }
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.menu-dropdown{
	color: #41bedd;
    background-color: #ffffff;
    border-color: #41bedd;
}
.error{
	color: #bf2a2a;
}
