<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 52px;/* float: right; */ width:350px; /* margin-right: 5px; */">
    <div class="modal-content" style=" background: #161f36;color: white;">
      <div class="modal-header" style="padding: 10px;   border-bottom: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 27px;">
          <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" style="color: white;">CONTACT :</h4>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Contact Us</h3>
                        <div class="border-left"></div>
                        <p>Caf&eacute;X Finance, Inc.
                        521 Fifth Avenue, Suite 822, New York, NY 10175   |   +1 (646) 351-0511
                        Email: sales@cafex.com</p>
                    </div>
                   
                     <div class="col-md-6">
                        <h3>About Us</h3>
                        <div class="border-left"></div>
                        <p>Caf&eacute;X Finance is one of the largest private sector banks of U.S. Caf&eacute;X Finance currently has a network of 5,550 branches and 15,331 ATMs across U.S.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container text-center">
                <span>&copy; 2016 Caf&eacute;X Communications.</span>
            </div>
        </div>
        <script>
       

