//
// Scaffolding
// --------------------------------------------------

//==================    Imports    ======================

@import "_stuck-menu.less";
@import "_to-top.less";
@import "_thumb.less";
// // @import "_tabs.less";
@import "_parallax.less";
@import "_navbar.less";

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}

div.container{
    @media (min-width: 768px){
        padding-left: 0;
        padding-right: 0;
    }
}

//-------------------------
@media (max-width:530px){
.row .col-xs-6{
    clear: both;
    width: 100%;
  }
}

@media (max-width: 550px){
.row .col-xs-4{  
    clear: both;
    width: 100%;
  }
}

@media (max-width: 767px){
  .row .col-xs-12 + *{
    margin-top: 30px;
  }
}

@media (max-width: 991px){
  .row .col-sm-12 + *{
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .row .col-sm-6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.col-4_mod {
  li:nth-child(n+4) {
    margin-top: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    li:nth-child(3n+4) {
      clear: both;
    }
  }
  @media (max-width: 991px) {
    li:nth-child(n+3) {
      margin-top: 30px;
    }

    li:nth-child(2n+3) {
      clear: both;
    }
  }
  @media (max-width: 767px) {
    li:nth-child(n+2) {
      margin-top: 40px;
    }

    li:nth-child(n+1) {
      float: none;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.col-4_mod_div {
  div:nth-child(n+4) {
    margin-top: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    div:nth-child(3n+4) {
      clear: both;
    }
  }
  @media (max-width: 991px) {
    div:nth-child(n+3) {
      margin-top: 30px;
    }

    div:nth-child(2n+3) {
      clear: both;
    }
  }
  @media (max-width: 767px) {
    div:nth-child(n+2) {
      margin-top: 40px;
    }

    div:nth-child(n+1) {
      float: none;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.col-3_mod {
  div:nth-child(n+5) {
    margin-top: 51px;
  }
  div:nth-child(4n+5){
    clear: both;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    div:nth-child(2n+3) {
      clear: both;
    }
  }
  @media (max-width: 991px) {
    div:nth-child(n+3) {
      margin-top: 51px;
    }

    div:nth-child(2n+3) {
      clear: both;
    }
  }
  @media (max-width: 767px) {
    div:nth-child(n+2) {
      margin-top: 60px;
    }

    div:nth-child(n+1) {
      float: none;
      text-align: center;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  line-height: @line-height-base;
  // letter-spacing: 1.4px;
  color: @text-color;
  background-color: @footer-bg;
  -webkit-text-size-adjust: none;
}

.page {
    overflow: hidden;
    min-height: 500px;

    .lt-ie9 & {
        min-width: 1200px;
    }
}




// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links


a {
    font: inherit;
    color: inherit;
    text-decoration: none;  
    .transition(.2s);

    &:focus{
        outline: none;
        text-decoration: none;  
        color: inherit;
    }

    &:active{
        background: transparent;    
        text-decoration: none;
    }

    &:hover{
        text-decoration: @link-hover-decoration; 
        color: @link-hover-color;       
    }    
}

a[href^="tel:"],
a[href^="callto:"] {
    text-decoration: none;
}




// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.


// Images

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

// Rounded corners
.img-rounded {
  .border-radius(@border-radius-large);
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  // padding: @thumbnail-padding;
  // line-height: @line-height-base;
  // background-color: @thumbnail-bg;
  // border: 1px solid @thumbnail-border;
  // border-radius: @thumbnail-border-radius;
  .transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  .img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  .border-radius(50%); // set radius in percents
}

// Clear Float

.clear-flt{
  clear: both;
}


// Horizontal rules

hr {
  margin-top:    12px;
  margin-bottom: 8px;
  border: 0;
  border-top: 1px solid @hr-border;
}


// EM normalize
//

em{
  font-style: normal;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
  cursor: pointer;
}

/*========================================================
                     HEADER  Section
=========================================================*/

header{
  background: @header-bg url(../images/page-1_img1.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  &.head{
    padding-bottom: 14px;
  }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main{
    background: @content-bg;
}
section.sect-404{
  padding-bottom: 41px;
  em{
    display: block;
    margin-top: 36px;
    font-style: normal;
    font-size: 125px;
    color: @brand-primary;
    font-weight: 400;
    text-transform: uppercase;
  }
  .lead{
    color: @secondary-clr;
    font-weight: 400;
    font-style: italic;
    font-size: 60px;
    line-height: 1.2;
  }
  em + .lead{
    margin-top: -15px;
  }
  .lead + *{
    margin-top: 29px;
  }
  @media (max-width: 1199px){
    .center991 img{
      margin-right: -40px;
    }
    em{
      font-size: 90px;
      line-height: 1.2;
    }
    em + .lead{
      margin-top: 10px;
    }
    .lead{
      font-size: 40px;
    }
  }
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer{  
    background: @footer-bg;
  padding-top: 86px;
  h6 + .list{
    margin-top: 11px;
  }
  * + h6{
    margin-top: 41px;
  }
  .foot-top{
    padding-bottom: 90px;
  }
  .small{
    margin-top: 43px;
    color: @default-light;
    font-size: 12px;
    line-height: 1.2;
    padding-right: 15%;
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
  .phone{
    font-weight: 300;
    font-size: 30px;
    margin-top: 19px;
    display: block;
    color: @white-clr;
    @media (max-width: 1199px) {
      font-size: 18px;
    }
    &:hover{
      color: @brand-primary;
    }
  }
  .rights{
    margin-top: 20px;
    line-height: 1.2;
    color: @default-light;
    font-weight: 400;
  }

  .foot-mid{
    background: @brand-primary;
    padding-top: 59px;
    padding-bottom: 55px;
  }
}