<!doctype html>
<html ng-app="storeApp">
	<head>
		<title>STELLA SHOP</title>
		<meta charset="utf-8">
		<meta name="description" content="StellaShop - Elegant E-Commerce Theme from angelostudio.net">
		<meta name="author" content="ANGELOSTUDIO.NET">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css?v=5">
		<link rel="stylesheet" href="css/icomoon/style.css">
		<link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="home">

		<div class="container-fluid">
			<div class="menu-wrapper">
				<a href="#" class="close-menu visible-xs"><i class="icon-close"></i></a>
				<h3 class="visible-xs">Navigation</h3>
				<ul class="nav-list text-center effect">
					<li><a href="index.html">Shop</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a title="Live Assist" onclick="AssistSDK.startSupport('agent1')">Get Help</a><li>
				
					<li><a href="login.html">Login</a></li>
				</ul>
				<div class="visible-xs mt-info">
					<h3>Latest news</h3>
					<ul>
						<li><a href="blog-article.html">New collection</a></li>
						<li><a href="blog-article.html">Home Sweet Home: Turn...</a></li>
						<li><a href="blog-article.html">The Prisoner of Benda</a></li>
					</ul>
					
				</div>
			</div>
		</div>	
	
		<div id="wrap">
			<div id="main-nav" class="">
				<div class="container-fluid">	
					<div class="nav-header">
						<a href="index.html" class="nav-brand">STELLA <span>SHOP</span></a>
						
					</div>
				</div>
			</div>

			<div class="container-fluid title">
				<div class="row">
					<div class="col-sm-12">
						<h2>Shopping Cart</h2>
					</div>
				</div>
			</div>

			<div class="container-fluid cart-list" ng-controller="cartController">
				<div class="row">
					<div class="col-sm-8">
						<table class="table">
						  <thead>
							<tr>
							  <th>Item</th>
							  <th>Unit Cost</th>
							  <th class="text-center">Quantity</th>
							  <th class="text-right">Total</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng:repeat="item in invoice.items">
	  	 						<td class="vert-align"><a href="{{ item.url }}.html">{{ item.title }}</a></td>
								<td class="vert-align">{{ item.cost | currency }}</td>
								<td class="text-center vert-align"><input type="number" min="1" max="9" ng:model="item.qty" ng:required class="form-control form-control-inline" style="width: 52px!important;"></td>
								<td class="text-right vert-align">{{ item.qty * item.cost | currency }}</td>
								<td class="text-center vert-align"><a href="#" ng:click="removeItem($index)" class="remove-item"><i class="icon-close"></i></a></td>
							</tr>	
<!-- 							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr> -->
							<tr ng-if="total() == 0">
								<td colspan="5">
									<h2 class="text-center">Your cart is empty.</h2>
								</td>
							</tr>
						  </tbody>
						</table>
						
						<h4>INTERNATIONAL ORDERS</h4>
						<p>Shipping costs for international orders will be displayed at checkout.<br>
						All international orders must have a ship-to destination outside of the United States. We cannot support customers with international billing addresses shipping to U.S. addresses.
						</p>	

					</div>
					<div class="col-sm-4 "  ng-if="total() > 0">
							<table class="table">
							  <thead>
								<tr>
								  <th colspan="3" class="text-center">Order sumary</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <td>Sub total:</td>
								  <td></td>
								  <td class="text-right"><b>{{ total() | currency }}</b></td>
								</tr>								
								<tr>
								  <td>Shipping cost:</td>
								  <td></td>
								  <td class="text-right">{{ shiping() | currency }}</td>
								</tr>
								<tr>
								  <td>Tax:</td>
								  <td></td>
								  <td class="text-right">{{ tax | currency }}</td>
								</tr>
								<tr>
								  <td>Total:</td>
								  <td></td>
								  <td id="total" class="text-right">{{ total() + shiping() + tax | currency }}</td>
								</tr>
							  </tbody>
							</table>
						
							<a href="checkout.html" class="btn btn-right">Checkout</a>
					</div>	
				</div>

				<div class="row">
					<div class="col-sm-12 text-center show-more">
						<a href="index.html" class="btn btn-outline">Cancel and return to store</a>
					</div>	
				</div>	

			</div>
	
			<footer>
				<div class="container-fluid">
					<div class="pull-left copyright">
						
						<ul class="nav-list effect">
							<li><a href="terms-conditions.html">Delivery & Returns</a></li>
							<li><a href="terms-conditions.html">Terms & Conditions</a></li>
							<li><a href="privacy.html">Privacy</a></li>
							<li><a href="faq.html">FAQ</a></li>
						</ul>	
					</div>

					<div class="pull-right copyright">
							<ul class="social-links">
								
							</ul>
					</div>
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/placeholders.min.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/ga.js"></script>
        <script src="https://gwcafexdemo.liveassistfor365.com/assistserver/sdk/web/consumer/assist.js"></script>
        <script src="mode-demo.js"></script>
	</body>
</html>
