


                <div class="sidebar-heading"><i class="fa fa-user"></i> Contacts</div>
                <div class="sidebar-title">online</div>
                <div class="list-contacts">




                  <a class="list-item" id="assistlink" title="Assist"
                  onclick="AssistSDK.startSupport({destination : 'allan', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                  <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                  <div class="list-item-content"><h4>Allan</h4><p>CA</p></div>
                  <div class="item-status item-status-online"></div>
                  </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'barry', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/barry.jpeg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Barry</h4><p>NJ</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'bruce', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/bruce.jpeg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Bruce</h4><p>MO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>


                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'dan', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Dan</h4><p>MO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'daveg', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Dave G</h4><p>MA</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'davep', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/davep.jpeg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Dave P</h4><p>UK</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'gethin', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/gethin.jpeg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Gethin</h4><p>UK</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>


                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'jason', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Jason</h4><p>MA</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'john', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>John</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>



                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'len', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Len</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'lorin', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Lorin</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'mike', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/ben.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Mike</h4><p>CO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>


                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'nick', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/nick-f.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Nick</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'peter', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Peter</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'quentin', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Quentin</h4><p>NC</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>


                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'sajeel', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/brad.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Sajeel</h4><p>TX</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'tabatha', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/jolie.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Tabatha</h4><p>MO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'tiffany', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/tiffany.jpeg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Tiffany</h4><p>MO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>

                    <a class="list-item" id="assistlink" title="Assist"
                    onclick="AssistSDK.startSupport({destination : 'alex', url : 'https://gwcafexdemo.liveassistfor365.com'})">
                    <div class="list-item-image"><img src="img/samples/users/user-30.jpg" class="img-circle"></div>
                    <div class="list-item-content"><h4>Alex</h4><p>MO</p></div>
                    <div class="item-status item-status-online"></div>
                    </a>


                    <a class="list-item">
                        <div class="list-item-image">
                            <img src="img/samples/users/brad.jpg" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>Spider Webb</h4>
                            <p>Mesquite, TX</p>
                        </div>
                        <div class="item-status item-status-away"></div>
                    </a>
                </div>





                <div class="sidebar-title">support centers</div>
                <div class="list-contacts">
                    <a class="list-item">
                        <div class="list-item-image">
                            <img src="img/samples/users/drivetrain-icon.jpeg" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>Drivetrain</h4>
                            <p>Detroit, MI</p>
                        </div>
                        <div class="item-status item-status-online"></div>
                    </a>
                    <a class="list-item">
                        <div class="list-item-image">
                            <img src="img/samples/users/engine-icon.png" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>Engine</h4>
                            <p>Defiance, OH</p>
                        </div>
                        <div class="item-status item-status-online"></div>
                    </a>
                    <a class="list-item">
                        <div class="list-item-image">
                            <img src="img/samples/users/dealer.jpeg" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>Dealer Network</h4>
                            <p>Aldershot</p>
                        </div>
                        <div class="item-status item-status-online"></div>
                    </a>
                </div>



                <div class="sidebar-title">offline</div>
                <div class="list-contacts">
                    <a class="list-item">
                        <div class="list-item-image">
                            <img src="img/samples/users/liu.jpg" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>Barb McColley</h4>
                            <p>Grand Rapids, MI</p>
                        </div>

                    </a>
                </div>




                <div class="sidebar-block">
                    <button class="btn btn-success btn-block"><i class="fa fa-plus"></i></button>
                </div>
