<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 52px;/* float: right; */ width:350px; /* margin-right: 5px; */">
    <div class="modal-content" style=" background: #161f36;color: white;">
      <div class="modal-header" style="padding: 10px;   border-bottom: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 27px;">
          <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" style="color: white;">CONTACT :</h4>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
            <div class="container">
                     <div class="col-md-6">
                        <h3>About Us</h3>
                        <div class="border-left"></div>
                        <p>The name Wells Fargo is forever linked with the image of a six-horse stagecoach thundering across the American West, loaded with gold. The full history, over more than 160 years, is rich in detail with great events in America’s history. From the Gold Rush to the early 20th Century, through prosperity, depression and war, Wells Fargo earned a reputation of trust due to its attention and loyalty to customers.</p>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <script>
       

