@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Raleway:100,200,300,500,700,600,400,800,900);
div.sform {
  width: 100%;
  position: relative;
}
.search-form {
  display: block;
  opacity: 0;
  position: fixed;
  width: 230px;
  z-index: 1003;
  right: 20px;
  top: 110px;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  -o-transform: translateY(-180px);
  -webkit-transform: translateY(-180px);
  transform: translateY(-180px);
}
@media (max-width: 1199px) {
  .search-form {
    top: 85px;
  }
}
@media (max-width: 767px) {
  .search-form {
    position: fixed;
  }
}
.search-form_label {
  width: 100%;
  display: block;
  padding: 10px 50px 10px 10px;
  background: #ffffff;
  border: 1px solid #4e4e4e;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #333333;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 33px;
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 14px;
  right: 22px;
  width: 25px;
  height: 22px;
  font: 400 24px/24px 'FontAwesome', sans-serif;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: '\f002';
}
.search-form_submit:hover {
  color: #26b7cd;
}
.search-form_toggle {
  float: right;
  display: inline-block;
  color: #ffffff;
  font: 400 20px/26px 'FontAwesome';
  position: absolute;
  right: 65px;
  top: -68px;
  min-width: 13px;
  z-index: 999999999;
  width: 43px;
  height: 43px;
  background: #26b7cd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 13px;
}
@media (max-width: 1199px) {
  .search-form_toggle {
    right: 25px;
  }
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:focus {
  color: #ffffff;
}
.search-form_toggle:hover {
  color: #26b7cd;
  background: #ffffff;
}
.search-form_toggle.active {
  background: #ffffff;
}
.search-form_toggle.active:before {
  content: '\f00d';
  color: #26b7cd;
}
@media (min-width: 768px) and (max-width: 991px) {
  .search-form_toggle {
    top: -86px;
  }
}
@media (max-width: 767px) {
  .search-form_toggle {
    position: fixed;
    right: 42px;
    top: 6px;
  }
}
.search-form + * {
  margin-top: 25px;
}
.search-form.on {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 12px;
  line-height: 24px;
  background: #ffffff;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'Open Sans', sans-serif;
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #63cd54;
}
.search-form_liveout .search_link .search_title {
  color: #333333;
  font: 700 13px/18px 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #26b7cd;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #26b7cd;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #7a4104;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #26b7cd;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #26b7cd;
}
.search-frame .search_list {
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Open Sans', sans-serif;
}
.search-frame .search_list .match {
  color: #26b7cd;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(0, 255, 0, 0.1);
}
.search-frame .search_list li:before {
  color: #333333;
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
}
.search-frame .search_list li + li {
  border-top: 5px solid #26b7cd;
}
.search-frame .search {
  color: #26b7cd;
  font-weight: 700;
}
.search-frame .match {
  color: #333333;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
